<div class="container-fluid py-6">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Nombre total des foyers
                </p>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{
                    totalFoyers
                  }}</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle"
              >
                <i
                  class="ni ni-money-coins text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Capacité totale des foyers
                </p>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{
                    totalCapacity
                  }}</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle"
              >
                <i
                  class="ni ni-world text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Nombre total des blocs
                </p>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{
                    totalNumberOfBlocs
                  }}</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle"
              >
                <i
                  class="ni ni-paper-diploma text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Nombre totale des universite
                </p>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{
                    nbUniversite
                  }}</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle"
              >
                <i
                  class="ni ni-paper-diploma text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- etudiant chambre bloc reservation -->
  <div class="row p-2">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Nombre total des chambre
                </p>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{
                    nbChambres
                  }}</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle"
              >
                <i
                  class="ni ni-money-coins text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Nombre total des reservations
                </p>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{
                    nbReservations
                  }}</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle"
              >
                <i
                  class="ni ni-world text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">
                  Nombre totale des etudiants
                </p>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{
                    nbEtudiant
                  }}</span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle"
              >
                <i
                  class="ni ni-paper-diploma text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- chart -->
  <div class="row mt-4">
    <div class="col-lg-4 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <h4 class="text-capitalize">Nombre d'étudiants par foyer</h4>
        </div>
        <div class="card-body p-3">
          <div class="chart">
            <canvas id="barChartEtudiant" width="400" height="350"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <h4 class="text-capitalize">Nombre de chambres par foyer</h4>
        </div>
        <div class="card-body p-3">
          <div class="chart">
            <canvas id="pieChartChambre" width="200" height="250"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <h4 class="text-capitalize">Nombre de chambres Par type</h4>
        </div>
        <div class="card-body p-3">
          <input
            type="text"
            class="form-control"
            placeholder="Rechercher un foyer"
            [(ngModel)]="tableSearchText"
          />
          <div class="card-body">
            <div
              *ngFor="let chambre of ChambreByType | filter : tableSearchText"
              class="chambre-card"
            >
              <h6>{{ chambre[0] }}</h6>
              <p>
                {{ chambre[1] }} double, {{ chambre[2] }} triple,
                {{ chambre[3] }} simple
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4 mb-lg-0 mb-4">
      <!-- Reduce the width of the chart card on larger screens -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <strong>Nombre De Chambres Par Type</strong>
          </h5>
        </div>
        <div class="card-body">
          <canvas id="pieChartChambre2" width="150" height="200"></canvas>
          <!-- Adjust the chart canvas size -->
        </div>
      </div>
    </div>
    <div class="col-lg-8 mb-lg-0 mb-8">
      <div class="card mb-6">
        <div class="card-header pb-0">
          <div class="row">
            <h1 class="col-8">Les dernières actions dans le site :</h1>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li
              class="list-group-item text-danger"
              *ngFor="let functionName of functionsList"
            >
              {{ functionName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
