.short-input {
    width: 250px; /* Vous pouvez ajuster la valeur selon vos besoins */
}

.ajouter-universite-btn {
    background-color: green; 
    color: white;
    border-radius: 5px; 
}
.liste-universites-title {
    font-size: 24px; /* Taille de la police */
    font-weight: bold; /* Poids de la police */
    color: #333; /* Couleur du texte */
    /* Ajoute d'autres styles selon tes préférences */
}
.rounded-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    margin: 4px; /* Adjust the margin as needed */
  }
  
  .rounded-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .small-icon-btn {
    font-size: 2px; /* Adjust the font size as needed */
  }
  .btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Adjust width as needed */
    height: 60px; /* Adjust height to match the desired size */
    padding: 0;
  }