

<div class="home-page__content messages-page">
    <div class="container-fluid h-100">
        <div class="row px-0 h-100">
            <div class="chat col-12 px-0 pl-md-1" style=" background-color: #edfdf9;">
                <div class="chat__container">
                    <div class="chat__wrapper  pt-mb-2 pb-md-3">
                        <div
                            class="sticky chat__messaging messaging-member--online pb-2 pb-md-2 pl-2 pl-md-4 pr-2 border-bottom border-dark bg-secondary">
                            <div class="chat__infos pl-2 pl-md-0">
                                <div class="" data-online="true">
                                    <div class="chat-member__avatar">
                                        <a class="navbar-brand h1" href="#">
                                            <button (click)="sidebar()" class="icon-button mt-2 button"
                                                [disabled]="isButtonDisabled">
                                                <svg focusable="false" viewBox="0 0 24 24">
                                                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                                                </svg>
                                            </button>
                                            Chatbot
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="chat__content pt-4 px-3 ">
                            <div class="row">
                                <div class="col-md-2">
                                    <app-sidebar *ngIf="show" [data]="sidebarArray" (listenerEvntSidebar)="sidebar()">
                                    </app-sidebar>
                                </div>
                                <div class=" Bcard mt-1" [class.col-md-12]="!show" [class.col-md-10]="show">
                                    <ng-container *ngFor="let message of messages">
                                        <div class="message chat__bubble--user" *ngIf="message.author === 'user'">
                                            <i class="fa-solid fa-user fa-xl mx-2"></i>
                                            <span class="mt-2"> {{ message.content }}</span>
                                        </div>
                                        <div class=" text-end" *ngIf="message.author === 'bot'" style="cursor: default">
                                            <i class="fa-brands fa-android fa-beat fa-xl"></i>&nbsp;
                                            {{ message.content }}
                                            <div class="chat__time">{{message.date | date:'medium'}}</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" *ngIf="isRecording && !show">
                <div class="overlayImg col-12 col-lg-6 offset-lg-3 ">
                    <div class="recordImg_con mx-5 mt-5 border border-white">
                        <div class="">
                            <div class="row">
                                <a href="/w3images/lights.jpg" target="_blank"
                                    class="recording-symbol d-flex justify-content-center align-items-center">
                                    <img src="assets/Recording.png" alt="Recording Icon" style="width:80%;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="input-group input-group-sm mb-3 footer" style="position: fixed;">
                <button class="btn btn-info" (click)="toggleRecording()">
                    {{ isRecording ? 'Stop Recording' : 'Start Recording' }}
                </button>
                <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text" class="form-control"
                    [placeholder]="placeholder" aria-describedby="button-addon2" [disabled]="isRecording">
                <button (click)="sendMessage()" class="btn btn-outline-primary" type="button"
                    id="button-addon2">Send</button>
            </div>

        </div>
    </div>
</div>
