<div class="mt-5">
  <div class="container py-4">
    <div class="card bg-light">
      <div class="card-body">
        <form (ngSubmit)="ModifierFoyer()" class="row g-3">
          <div class="col-md-6 mb-3">
            <label for="updatenomEt" class="form-label">Nom de l'étudiant
            </label>
            <input type="text" class="form-control" id="updatenomEt" name="updatenomEt" value="nomEt"
              [(ngModel)]="etudiant.nomEt" pattern="[a-zA-Z]+" required />
            <small class="text-danger" *ngIf="etudiant.nomEt && !etudiant.nomEt.match('^[a-zA-Z]+$')">
              Le nom ne doit contenir que des lettres.
            </small>
          </div>

          <div class="col-md-6 mb-3">
            <label for="updateprenomEt" class="form-label">Prénom de l'étudiant
            </label>
            <input type="text" class="form-control" id="updateprenomEt" name="updateprenomEt" value="prenomEt"
              [(ngModel)]="etudiant.prenomEt" pattern="[a-zA-Z]+" required />
            <small class="text-danger" *ngIf="
                etudiant.prenomEt && !etudiant.prenomEt.match('^[a-zA-Z]+$')
              ">
              Le prénom ne doit contenir que des lettres.
            </small>
          </div>

          <div class="col-md-6 mb-3">
            <label for="updatecin" class="form-label">CIN de l'étudiant </label>
            <input type="text" class="form-control" id="updatecin" name="updatecin" value="cin"
              [(ngModel)]="etudiant.cin" pattern="[0-9]{8}" required />
            <small class="text-danger" *ngIf="
                etudiant.cin && !etudiant.cin.toString().match('^[0-9]{8}$')
              ">
              Le CIN doit contenir exactement 8 chiffres.
            </small>
            <div style="color: rgb(184, 6, 6);" *ngIf="verifierCin == true">
              cin existe déja !
            </div>
          </div>

          <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="bloc_id_bloc"> universite:</label>
            <select class="form-control" id="bloc_id_bloc" name="bloc_id_bloc" [(ngModel)]="selectedUniv" >
              <option ngValue="annuler">sans universite</option>
              <option *ngFor="let univ of universites" [ngValue]="univ">
                {{ univ.nomUniversite }}
              </option>
            </select>
          </div>
        </div>


          <div class="col-md-6 mb-3">
            <label for="updatedateNaissance" class="form-label">Date de naissance de l'étudiant
            </label>
            <input type="date" class="form-control" id="updatedateNaissance" name="updatedateNaissance"
              value="dateNaissance" [(ngModel)]="etudiant.dateNaissance" />
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>